#combat-track-form nav.tabs {
  flex: 0 0 32px;
  line-height: 32px;
  font-size: 16px;
  border-bottom: 1px solid #000;
}

.maestro-playlist-loop.inactive {
  opacity: 0.5;
}

.maestro-playlist-loop.disabled {
  pointer-events: none;
  opacity: 0.3;
}
