<form autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>Item Playlist</label>
        <select name="playlist" class="playlist-select" title="{{localize "MAESTRO.ITEM-TRACK.FormPlaylistTooltip"}}">
            {{#each playlistOptions}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
        </select>
        <p class="notes">{{localize "MAESTRO.ITEM-TRACK.FormPlaylistNotes"}}</p>
    </div>

    <div class="form-group">
        <label>Item Track</label>
        <select name="track" class="track-select" title="{{localize "MAESTRO.ITEM-TRACK.FormTrackTooltip"}}">
            {{#each trackOptions}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
        </select>
        <p class="notes">{{localize "MAESTRO.ITEM-TRACK.FormTrackNotes"}}</p>
    </div>

    <span>
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize "MAESTRO.FORM.SaveTrack"}}
        </button>
    </span>

</form>
